{% extends 'base.html' %}

{%  block content %}
    <div class="card" style="width: 18rem;">
      <img src="{{ product.image }}" class="card-img-top w-100 h-100" alt="image">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Цена: {{ product.price }}</li>
        <li class="list-group-item">{{ product.product_category.name }}</li>
        <li class="list-group-item">{{ product.date }}</li>
      </ul>
      <a class="btn btn-primary" href="{% url 'update_product' product.pk %}">Редактировать</a>
        <a class="btn btn-danger" href="{% url 'delete_product' product.pk %}">Удалить</a>
    </div>
{% endblock %}